student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/student"
	xmlns:tns="http://www.example.org/student"
	elementFormDefault="qualified">
	<element name="root">
		<complexType>
			<sequence>
				<element name="student" minOccurs="5" maxOccurs="unbounded">
					<complexType>
						<sequence>

							<element name="stuID" type="int" />
							<element name="stuName" type="string" />
							<element name="stuAge" type="int" />

						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>